* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0 0 8px 0;
  /*background-color: #B8B8B8;*/
  background-color: #dee1ee;
}

/*==== Header and Navigation Bar ====*/

header{
  position: relative;
  padding: 0rem 2rem;
  background-color: #e5e5e5;
}

.link{
  list-style: none;
}

.navBtn{
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.navBtn:hover{
  color: gray;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo p{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 3rem;
}

.navbar .toggle_btn{
  color: gray;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: gray;
  color:white;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale:1.05;
  color: white;
}

.action_btn:active{
  scale:0.95;

}

.logoutBtn{
  color: black;
  text-decoration: underline;
  margin: 0px 30px;
}

.dropdown{
  position: absolute;
  right: 0.1rem;
  top: 65px;
  width: 300px;
  height: 0;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open{
  height: 270px;
}

.dropdown .link{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*==== Main Home Section ====*/

.main{
  margin-top: 20px;
}

.firstRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.firstRow > div {
  width: 45%;
  margin: 10px;
  text-align: center;
  height: 350px;
}

.pillManagement{
  background-color: #e5e5e5;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

.pillManagement>p{
  margin-bottom: 10px;
}

.right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.diary{
  width: 94%;
  margin: 10px;
  text-align: center;
  height: 600px;
  background-color: #e5e5e5;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

.diary>p{
  margin-bottom: 10px;
}
/* ==== Prescrtiption section style ==== */

.plusBtnContainer{
  display: flex;
  justify-content: right;
}
.plusBtn {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
}

.form-popup, .form-popup2 {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.temp-alert{
  background-color: #f3d8db;
  color: #612d31;
  padding: 10px;
}

/* ==== Calendar style ==== */

.calendar{
  height: 70%;
  background: #f9dbf1;
  border-radius: 20px;
}

#calendar-header {
  border-radius: 20px 20px 0 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #D8BED0;
  color: white;
}

#cal-body {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f9dbf1;
}
#cal-body .diff-month {
  color: gray; /* Set the color to gray */
}

#cal-body div {
  padding: 3px;
  gap: 3px;
  background-color: #f9dbf1;
  align-items: center;
  border: 1px solid white;
  border-radius:2px;
}

#calendar-footer {
  background: #D8BED0;
  height: 25px; 
  border-radius: 0 0 20px 20px; 
}

/*==== Mood Styling====*/

.mood {
  height: 25%;
  background-color: #8ECFD5;
  border-radius: 20px; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mood-header h3 {
  color: white;
  text-align: center;
  margin-bottom: 8px;
}
.mood .mood-scale {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   border: 2px solid #72A6AB;
  border-radius: 30px;
   background-color: #BFEEF3;
   padding: 5px;
}
.mood .mood-scale span {
  margin: 0 2px;
  padding: 2px 10px;
  vertical-align: middle;
  font-size: 0.8rem;
}

.fa-regular{
  font-size: 1.6rem;

}

/*==== Tabs Styling====*/

.tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  border-bottom: none;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 0.9rem;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent, .tabcontent2{
  display: none;
  padding: 20px 12px;
  border: 1px solid #ccc;
  text-align: left;
  overflow: scroll;
  flex-grow: 1;
}

/*==== Text Area Styles ====*/


::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

#newEntry {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

#submit-btn , #cancel-btn{
  height: 8%;
  width: 8%;
}

/*===== display entries===== */
.title-and-date{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tabcontent2{
	padding: 20px 30px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 250px;
  background: white;
  /*padding: 10px;*/
  overflow: scroll;
  /*transition: max-height 0.5s ease-in-out;*/
  flex-direction: column;
  margin-bottom: 10px;
}

.card .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
}

.card .content h2 {
  font-size: 1.3em;
  color: black;
}

.card .journal-text {
  padding-top: 10px;
  display: none;
  padding: 10px;
}

.card .journal-text.active {
  padding-top: 10px;
  display: block;

}

.card .journal-text p {
  color: black;
}
.card .content p {
  font-weight: 400;
  font-size: 0.8em;
  color: #999;
}

/*==== Footer ====*/

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.slogan{
  background-color:#e5e5e5;
  text-align:center;
  padding:10px;
  margin:10px;
  width: 94%;
  background-color: #e5e5e5;

}

/*==== Community tab styling ====*/

.communityContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityImg{
  margin-top: 50px;
  width: 70%;

}

/*==== Settings Tab styling ====*/

.settings{
  margin-top: 50px;
 /* display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;*/
  background: #fff;
  width: 45%;
  height: 100%;
  position: left;
  float: left;
  margin-left: 25%;
}

.tabcontent3 {
  display: none;
  padding: 20px 12px;
  border: 1px solid #ccc;
  text-align: left;
  flex-grow: 1;
}

.profile {
  position: left;
  width: 100%;
  margin-left: 3%;
}
.profile h1 {
  color: #476A77;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 35px;
  position: left;
}


.profile h2 {
  color: #777;
  width: 80%;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 2px;
}

.profile p {
  border-width: 1px;
  border-top: 0;
  width: 80%;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 15px;
}

.btn {
  float: right;
  text-transform: uppercase;
  color: #5E8D9F;
  background-color: #AEC6CF;
  color:white;
  padding: 0.2rem 0.7rem;
  border:none;
  outline: none;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.btn:hover {
  color: #476A77;
  font-weight: 800;
}

.btn2 {
  float: center;
  background-color: #5E8D9F;
  color:white;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  border-radius: 13px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.btn2:hover {
  color: #AEC6CF;
  font-weight: 700;
}


/*==== Responsive Elements ====*/
@media(max-width: 950px){
  .navbar .links, .navbar .action_btn, .navbar .logoutBtn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown{
    display: block;
    left: 0.1rem;
    right: 0.1rem;
    width: 100%;
  }
  .main.open{
    margin-top: 290px;
  }
}

@media(max-width: 620px){
  .dropdown{
    left: 0.1rem;
    right: 0.1rem;
    width: unset;
  }
  .main.open{
    margin-top: 290px;
  }

  .firstRow > div{
    width: 100%;
  }

  .diary{
    width: 100%;
  }

  .slogan{
    width: 100%;
  }
}


