<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Progress</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<header>
		<div class="navbar">
			<div class="logo">
				<p>Clear My Mind</p>
			</div>
			<ul class="links">
				<li class="link"><a class="navBtn" href="challenges.html">Challenges</a></li>
				<li class="link"><a class="navBtn" href="progress.html">Progress</a></li>
				<li class="link"><a class="navBtn" href="community.html">Community</a></li>
				<li class="link"><a class="navBtn" href="settings.html">Profile Settings</a></li>
			</ul>
			<a href="home.html" class="action_btn navBtn">Home</a>
			<div class="toggle_btn" onclick="toggleOpen()">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>

		<div class="dropdown">
			<li class="link"><a class="navBtn" href="challenges.html">Challenges</a></li>
			<li class="link"><a class="navBtn" href="progress.html">Progress</a></li>
			<li class="link"><a class="navBtn" href="community.html">Community</a></li>
			<li class="link"><a class="navBtn" href="settings.html">Profile Settings</a></li>
			<li class="link"><a href="home.html" class="action_btn navBtn">Home</a></li>
		</div>
	</header>

	<P>progress :)</P>

	<script src="scripts.js"></script>
</body>
</html>