@font-face {
    font-family: 'CenturyGothic';
    src: url('CenturyGothic.ttf') format('truetype');

}

* {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic',sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#eee;
  min-height: 90vh; 
  text-shadow: 0 0 2px #33032a, 0 0 5px 0;
  background-color: #f5f5f5;
  color: #545655;
  padding-bottom: 50px;
}

/*==== Header====*/
header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  padding: 0rem 2rem;

}

.ourLogo{
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


.ourLogo p{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 1px 1px 8px #abaaa7;
}

/*==== Main Section ====*/
.dec1{
	width: 380px;
	position: absolute;
	top:0;
	right: 0;
	z-index: -1;
}

.dec2{
	width: 380px;
	position: absolute;
	bottom:0;
	left: 0;
	z-index: -1;
}


.container{
	width: 100%;
	max-width: 400px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #abaaa7, 0 5px 10px 0 #abaaa7;
	margin: auto;
	padding: 20px 50px 20px 50px;
}

label{
	/*color: white;*/
	font-size: 2.2rem;
	justify-content: center;
	display: flex;
	transition: .5s ease-in-out;
	margin-bottom: 30px;
}

.form-group{
	width: 80%;
	height: 40px;
	background-color: #dce0d550;
	justify-content: center;
	display: flex;
	margin: 18px auto;
	padding: 5px;
	outline: none;
	border-radius: 50px;
	box-shadow: 0 2px 5px 0 #abaaa780;
	border: 1px solid #abaaa7;

}


.form-control{
	border: none;
	border-radius: 50px;
	font-size: 0.9rem;
	background-color: #dce0d550;
}



.btn{
	width: 50%;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: white;
	background-color: #616b51;
	font-size: 1.2rem;
	margin-top: 22px;
	margin-bottom: 12px;
	border: none;
	outline: none;
	border-radius: 10px;
	transition: .3s ease-in;
	cursor: pointer;
}

.btn:hover{
	background: #616b5190;
}


.link p{
	text-align: center;
	padding-top: 20px;
	/*color: white;*/
}

.link a{
	color: #59514d;
}

.alert-danger{
	background-color: #f0d8d8;
	border-radius: 20px;
	border: 1px solid #abaaa750;
}
.alert-success{
	background-color: #d1e0ba;
	border-radius: 20px;
	border: 1px solid #abaaa750;
}



